# Gemini API
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview

# OCR (para PDFs escaneados)
# TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
TESSDATA_PREFIX=C:\Program Files\Tesseract-OCR\tessdata
OCR_LANG=por+eng
OCR_CONFIG=--psm 6
